#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
.content {
  padding: 0 1rem;
}

.viewOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pagination-root {
  display: flex;
  align-items: center;
}

.pagination-wrapper {
  margin: 1rem auto;
}

.pagination-label {
  margin: auto;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

.dialogInner {
  padding: 1rem;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
