#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.viewOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
