#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.viewOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

dialog {
  padding: 1rem;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}
