.bookGridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.bookWrapper {
  width: 256px;
}

.bookWrapper img {
  width: 256px;
  height: 362px;
  object-fit: contain;
}

.bookText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
