.bookGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 1rem;
}

.bookWrapper {
  border-radius: 10px;
  overflow: hidden;
  background-color: #edf;
}

.bookWrapper > .thumbnail {
  height: 362px;
  display: flex;
}

.thumbnail img {
  width: 100%;
  object-fit: contain;
}

.bookText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
