.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.page {
  padding: 4px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page.active {
  background-color: #007bff;
  color: white;
}

.prev,
.next {
  padding: 4px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dots {
  padding: 4px 12px;
  margin: 0 4px;
}

.page:hover:not(.active),
.prev:hover,
.next:hover {
  background-color: #ddd;
}

.page.disabled,
.prev.disabled,
.next.disabled {
  color: #aaa; /* 無効化時のテキストカラー */
  background-color: #ddd;
  cursor: default;
}
